<div class="body">
  <div class="login">

      <form  [formGroup]="form">
          <div class="head">ادارة المدرسة</div>
          <input type="email" placeholder="اسم المستخدم" formControlName="email">
          <input type="password" placeholder="كلمة المرور" formControlName="password">
          <a href="" class="forget">نسيت كلمة المرور ؟</a>
          <button class="login-in" type="button" (click)="login()">تسجيل الدخول</button>
          <div class="pp">ليس لدي حساب ؟<a (click)="signUp()">انشاء حساب </a></div>
          <a href="" class="btn0 btn1"><i class="fa-brands fa-apple"></i>Log in with Apple</a>
          <a href="" class="btn btn1"><i class="fa-brands fa-google"></i>Log in with Google</a>
      </form>
  </div>
 </div>


